<table id = "dist_summary">
  <thead>
    <tr>
      <th>Resource Name</th>
      <th>Capacity</th>
      <th>Total Estimate Hours</th>
      <th>Total Remaining Estimated Hours</th>
      <th>Remaining Hours by Allocation</th>
    </tr>
  </thead>
  <tbody>
    <% project_members.each do |m| %>
      <tr>
        <td><%= m[:resource] %></td>
        <td><%= m[:capacity] %></td>
        <td><%= m[:estimate] %></td>
        <td><%= m[:remaining] %></td>
        <td><%= m[:remaining_allocation] %></td>
      </tr>
      <tr class = "member_issues">
        <td colspan = "5">
          <%= render :partial => "ds_member_issues", :locals => {:issues => m[:issues]}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
