<div class = "title">
  <span class = "left"><h1><%= @version %></h1></span>
  <span class = "right"><h3>End Date: <%= @version.effective_date.strftime("%m/%d/%Y") %></h3></span>
  <span class = "right"><h3>Start Date: <%= @version.started_date.strftime("%m/%d/%Y") %></h3></span>
</div>

<table id = "dist_summary">
  <thead>
    <tr class = "parent_header">
      <th>&nbsp;</th>
      <th>Resource Name</th>
      <th>Capacity</th>
      <th>Total Estimate Hours</th>
      <th>Total Remaining Effort</th>
      <th>Remaining Hours by Allocation</th>
    </tr>
  </thead>
  <tbody>
    <% project_members.each do |m| %>
      <tr class = "parent_row">
        <td>
          <% if !m[:issues].empty? %>
            <input type="button" value="+" id="<%=m[:resource].id%>" class="issue_slider">
          <% else %>
            &nbsp;
          <% end %>
        </td>
        <td><p class="resource"><%= m[:resource] %></p></td>
        <td><p class="capacity"><%= m[:capacity] %></p></td>
        <td><p class="estimate"><%= m[:estimate] %></p></td>
        <td><p class="remaining"><%= m[:remaining] %></p></td>
        <td><p class="remaining_allocation"><%= m[:remaining_allocation] %></p></td>
      </tr>
      <% if !m[:issues].empty? %>
        <tr class = "member_issues <%= m[:resource].id%>" style = "display:none;">
          <td colspan = "6">
            <%= render :partial => "ds_member_issues", :locals => {:issues => m[:issues]}%>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
