<div style='width: 100%; padding: 0; margin: 0;' >
<li id="<%= dom_id(issue) %>" class="<%= status_classes_for(issue, User.current) %> task_board_data <%= task_board_border_class(issue)%>">
  <div class="issue_number"><%= link_to_issue issue %></div>
  <div class="initial_controls" style="display: none;">
    <div class="edit" title="Edit">Edit</div>
    <div class="toggle_details maximized" title="Show Details">Show Details</div>
  </div>
  <%= link_to "Show Children", "##{dom_id(issue)}_parent", :class => "has_subtasks", :title => "This issue has sub-issues" if issue.children_here? %>
  <div class="current_data">
    <p class="estimate"><%= issue.estimated_hours ? issue.estimated_hours : '' %></p>
    <p class="assignee <%= "current_is_assigned" if issue.assigned_to.eql? User.current %>"><%= issue.assigned_to ? issue.assigned_to : '' %></p>
    <p class="status"><%= issue.status.name %></p>
    <hr/>
    <p><%= truncate(issue.subject, :length => 50) %></p>
    <%= progress_bar issue.done_ratio, :width =>'100%' %>
  </div>

  <div class="edit_here" style="display:none;">
    <div class="cancel" title="Cancel">Cancel</div>
    <div class="submit_link" title="Save">Save</div>
    <% remote_form_for(:issue, issue, :url => {:controller => 'task_boards', :action => 'update_issue', :id => issue.id}, :method => :post) do |f| %>
      <%= select_assigned_to f, issue %>
      <%= select_status f, issue %>
      <%#= f.select :status_id, collection_status_group(issue), :selected => issue.status.id %>
    <% end %>
  </div>
</li>
</div>

<% if not issue.children_here? %>
  <%= draggable_element(dom_id(issue), :revert => '"failure"', :constraint => "'horizontal'")%>
<% end %>

<script type="text/javascript">
  sticky_note("<%= dom_id(issue) %>", "<%= issue.assigned_to ? issue.assigned_to : '' %>", "<%= issue.status.id %>");
</script>

