<li id="<%= dom_id(issue) %>" class="<%= status_classes_for(issue, User.current) %> task_board_data <%= task_board_border_class(issue)%> <%= 'current_is_assigned' if issue.assigned_to.eql? User.current %> <%= 'isBug' if defined?(bug) %> assigned_to_<%= issue.assigned_to_id %>" <%= "style='border: 3px solid #E33;'" if issue.if_blocked %>>

  <div class="issue_number">
    <% if params[:board].to_i.eql? 1 %>
      <%= link_to "#{issue.parent.issue_from_id} &raquo; ", "##{dom_id(issue.parent.issue_from)}",
                            :class => "to_parent", :style => "color: orange;",
                            :title => "Jump to parent." if (!issue.parent.nil? and !issue.parent.issue_from.feature?) and not issue.task_parent? %>
    <% elsif params[:board].to_i.eql? 2 %>
      <%= link_to "#{issue.parent.issue_from_id} &raquo; ", "##{dom_id(issue.parent.issue_from)}",
                            :class => "to_parent", :style => "color: orange;",
                            :title => "Jump to parent." if !issue.parent.nil? %>
    <% end %>
    <div id="<%= dom_id(issue) %>_tooltip" class="tooltip">
      <%= link_to_issue issue %><span id="<%= issue.id %>_tip" class="tip"><%= task_board_tooltip(issue, @journals) %></span>
    </div>
  </div>

  <div class="bulk_details">

    <div class="initial_controls" style="display: none;">
      <div class="edit" title="Edit">Edit</div>
      <div class="toggle_details maximized" title="Show Details">Show Details</div>
      <div class="talk" title="Comment" id="<%= issue.id %>_talk">Comment</div>
    </div>

    <div class="current_data">
      <p class="estimate"><%= "R: #{issue.remaining_effort}" if issue.remaining_effort %></p>
      <p class="assignee <%= "assigned_to_current" if issue.assigned_to.eql? User.current %>"><%= issue.assigned_to ? issue.assigned_to : '' %></p>
      <p class="est"><%= "E: #{issue.estimated_hours}" if issue.estimated_hours %></p>
      <p class="status"><%= issue.status.name %></p>
      <hr/>
      <p><%= truncate(issue.subject, :length => 50) %></p>
      <%= progress_bar issue.done_ratio, :width =>'98%' %>
    </div>

    <div class="edit_here" style="display:none;">
      <div class="cancel" title="Cancel">Cancel</div>
      <div class="submit_link" title="Save">Save</div>
      <div style="width: 100%; margin: 0; padding: 0;">
      <%= render :partial => 'edit_form', :locals => {:issue => issue}%>
      </div>
    </div>

    <div class="talk_here" style="display:none">
      <div class="cancel" title="Cancel">Cancel</div>
      <div class="comment_form_panel">
      <% remote_form_for :issue, issue, :url => {:action => "add_comment", :controller => "task_boards",
                            :id => @project, :issue_id => issue }, :html => {:id => "#{issue.id}_comment_form", :class => "comment_form"},
                            :complete => "initTalk(#{issue.id});" do |f| %>
        <%= text_area_tag "comment", nil, :id => "text_comment_#{issue.id}" %>
        <%= f.submit "+", :class => "add" %><div class="clear"></div>
      <% end %>
      </div>
      <div class="discussion">
        <div id="<%= issue.id %>_discussion">

        </div>
      </div>
    </div>

  </div>
  <script type="text/javascript" id="stickynotejs_<%= issue.id %>" class="stickynotejs">
    sticky_note('<%= dom_id(issue) %>', '<%= issue.assigned_to_id %>', '<%= issue.status_id %>', '<%= issue.id %>', <%= issue.version_descendants.empty? %>);
    if(jQuery("#hidebugs").text() == "Show Bugs"){
      jQuery(".isBug").css("display", "none");
    }else{
      var display = (jQuery("#condensed").hasClass("activated")) ? "inline-block" : "list-item";
      jQuery(".isBug").css("display", display);
    }
  </script>

</li>

