<li id="<%= dom_id(issue) %>" class="<%= status_classes_for(issue, User.current) %> task_board_data <%= task_board_border_class(issue)%>">
  <p><%= link_to_issue(issue) %></p>
  <%= link_to "Show Row", "##{dom_id(issue)}", :class => "show_row" if issue.children_here? %>


  <%= progress_bar issue.done_ratio, :width => '50px', :legend => issue.assigned_to || "&nbsp;" %>
</li>
  
<% if not issue.children_here? %>      
<%= draggable_element(dom_id(issue), :revert => '"failure"', :constraint => "'horizontal'")%>
<% end %>
