<% border = feature.task_parent? ? "border-top: 1px dashed #DDD" : "border-top: 2px solid #DDD" %>

<% unless feature.task_parent? %>
  <td class="task_board_feature" style="<%= border %>">
    <div class="task_board_data task_board_feature_data task_board_feature_parent<%= '_current_is_assigned' if feature.assigned_to.eql? User.current %> no_drag assigned_to_<%= feature.assigned_to_id %>" id="<%= dom_id(feature) %>">
      <%= render :partial => 'feature', :locals => {:feature => feature } %>
    </div>
  </td>
<% else %>
  <td style="<%= border %>">
    <% if feature.feature? %>
      <div class="task_board_data task_board_feature_data task_board_feature_parent no_drag assigned_to_<%= feature.assigned_to_id %>" id="<%= dom_id(feature) %>">
        <%= render :partial => 'feature', :locals => {:feature => feature } %>
      </div>
    <% else %>
      &nbsp;
    <% end %>
  </td>
<% end %>

  <% @status_columns.each do |k| %>
    <% default = @status_grouped[k][:default] %>
    <% statuses = @status_grouped[k][:statuses] %>
    <td id="<%= task_board_dom_id(feature, default) %>" style="<%= border %>">
    <ul id="<%= task_board_dom_id(feature, default, 'list') %>" class="taskboard_issues_list <%= @condensed ? 'condensed' : '' %>">
      <% statuses.each do |status| %>
        <% if feature.task_parent? %>
          <%= render :partial => 'issue', :collection => Array(feature.version_descendants_filtered.group_by(&:status)[status]) %>
          <!--<div id="showBugsDiv" style="display: none;" >-->
          <%= render :partial => 'issue', :collection => Array(feature.version_descendants_bugs.group_by(&:status)[status]), :locals => {:bug => true} %>
          <!--</div>-->
        <% else %>
          <%= render :partial => 'issue', :collection => Array(feature.version_children.group_by(&:status)[status]).reject {|c| c if c.task_parent? or c.feature? } %>
          <%= render :partial => 'issue', :collection => Array(feature.version_descendants_bugs.select {|b| b.parent.issue_from == b.super_parent}.group_by(&:status)[status]), :locals => {:bug => true} %>
        <% end %>
      <% end %>
    </ul>
    <%= task_board_drop_receiving_element(task_board_dom_id(feature, default), default, statuses) %>
    </td>
  <% end %>
</tr>
<script type="text/javascript">
  <% if (feature.assigned_to_id == @selected_resource.to_i) or ["", "All", "Select a resource..."].member?(@selected_resource) %>
    jQuery('.assigned_to_<%= feature.assigned_to_id %>').show();
  <% else %>
    jQuery('.assigned_to_<%= feature.assigned_to_id %>').hide();
  <% end %>
</script>
