<% unless feature.task_parent? %>
    <td class="task_board_feature" style="border: 1px solid #<%= color %>; border-bottom: 1px solid #ddd;">
    <div class="task_board_data task_board_feature_data task_board_feature_parent no_drag">
      <div class="issue_number"><%= link_to_issue(feature) %></div>
      <p class="assignee <%= "current_is_assigned" if feature.assigned_to.eql? User.current %>"><%= feature.assigned_to %></p>
      <p class="issue_subject"><%= feature.subject %></p>
      <hr/>
      <%= progress_bar feature.done_ratio, :width => '100%'%>
    </div>
  </td>
<% else %>
  <td>&nbsp;</td>
<% end %>

  <% @status_columns.each do |k| %>
    <% default = @status_grouped[k][:default] %>
    <td id="<%= task_board_dom_id(feature, default) %>">
    <ul id="<%= task_board_dom_id(feature, default, 'list') %>">
      <% @status_grouped[k][:statuses].each do |status| %>
        <% if feature.task_parent? %>
          <%= render :partial => 'issue', :collection => Array(feature.version_descendants(true).group_by(&:status)[status]), :locals => {:descendant => true} %>
        <% else %>
          <%= render :partial => 'issue', :collection => Array(feature.version_children.group_by(&:status)[status]).reject {|c| c if c.task_parent?} %>
        <% end %>
      <% end %>
    </ul>
    <%= task_board_drop_receiving_element(task_board_dom_id(feature, default), default) %>
    </td>
  <% end %>
  
</tr>
    
