<% border = feature.task_parent? ? "border-top: 1px dashed #DDD" : "border-top: 2px solid #DDD" %>
<% unless feature.task_parent? %>
  <td class="task_board_feature" style="<%= border %>">
    <div class="task_board_data task_board_feature_data task_board_feature_parent<%= '_current_is_assigned' if feature.assigned_to.eql? User.current %> no_drag" id="<%= dom_id(feature) %>">
      <%= render :partial => 'feature', :locals => {:feature => feature } %>
    </div>
  </td>
<% else %>
  <td style="<%= border %>">
    <% if feature.feature? %>
      <div class="task_board_data task_board_feature_data task_board_feature_parent no_drag" id="<%= dom_id(feature) %>">
        <%= render :partial => 'feature', :locals => {:feature => feature } %>
      </div>
    <% else %>
      &nbsp;
    <% end %>
  </td>
<% end %>

  <% @status_columns.each do |k| %>
    <% default = @status_grouped[k][:default] %>
    <% statuses = @status_grouped[k][:statuses] %>
    <td id="<%= task_board_dom_id(feature, default) %>" style="<%= border %>">
    <ul id="<%= task_board_dom_id(feature, default, 'list') %>">
      <% statuses.each do |status| %>
        <% if feature.task_parent? %>
          <%= render :partial => 'issue', :collection => Array(feature.version_descendants_filtered.group_by(&:status)[status]), :locals => {:descendant => true} %>
        <% else %>
          <%= render :partial => 'issue', :collection => Array(feature.version_children.group_by(&:status)[status]).reject {|c| c if c.task_parent? or c.feature? } %>
        <% end %>
      <% end %>
    </ul>
    <%= task_board_drop_receiving_element(task_board_dom_id(feature, default), default, statuses) %>
    </td>
  <% end %>
</tr>
