<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'task_board', :plugin => 'scrum_task_board' %>
<% end %>

<h2><%= html_title "#{@project.name} - Task board" -%></h2>

<div id="version_container">
<% unless @project.versions.empty? %>
<ul class="version_holder">
  <% @project.versions.each do |v| %>

  <li>
    <span><strong><%= v.name %></strong></span>
    <br/>
    <span>Issues: <strong><%= v.fixed_issues.count %></strong></span>
    <br/>
    
    <%= link_to "Features: <span style='color: green'>#{v.feature_count}</span><br/>Tasks: <span style='color:#FF5500'>#{v.task_count}</span>",
                    :controller => "task_boards",
                    :action => "show",
                    :version_id => v.id,
                    :board => 1 %>
    <br/>
    
    <%= link_to "Bugs: <span style='color: red'>#{v.bug_count}</span>",
                    :controller => "task_boards",
                    :action => "show",
                    :version_id => v.id,
                    :board => 2 %>                
  </li>


  <% end %>
<% else %>

<h3>This project has no versions yet.</h3>

<% end %>
</ul>
</div>

