<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'task_board', :plugin => 'scrum_task_board' %>
<% end %>

<h2><%= html_title "#{@project.name} - Task board" -%></h2>

<div id="version_container">
<% unless @project.versions.empty? %>
<ul class="version_holder">
  <% @versions.each do |v| %>

  <li>
    <span><strong><%= v.name %></strong></span>
    <span><strong><%= "<br/>" + due_date_distance_in_words(v.effective_date) if !v.effective_date.nil? %><br/></strong></span>
    <span>Date: <strong><%= v.effective_date.nil? ? 'none' : format_date(v.effective_date) %></strong></span>
    <br/>
    <span>Issues: <strong><%= v.fixed_issues.count %></strong></span> 
    <br/><br/>
    
    <%= link_to "Features: <span style='color: #0EA94B'>#{v.feature_count}</span><br/>Tasks: <span style='color:#5081AA'>#{v.task_count}</span>",
                    :controller => "task_boards",
                    :action => "show",
                    :version_id => v.id,
                    :board => 1,
                    :id => @project.id %>
    <br/>
    
    <%= link_to "Bugs: <span style='color: red'>#{v.bug_count}</span>",
                    :controller => "task_boards",
                    :action => "show",
                    :version_id => v.id,
                    :board => 2,
                    :id => @project.id %>                
  </li>


  <% end %>
<% else %>

<h3>This project has no versions yet.</h3>

<% end %>
</ul>
</div>

