<% content_for :header_tags do %>
  <%= javascript_include_tag "jquery-1.7.1.min.js", :plugin => 'time_logging' %>
  <%= javascript_include_tag "jquery-ui-1.8.18.custom.min.js", :plugin => 'time_logging' %>
  <%= javascript_include_tag 'distribution_summary', :plugin => 'scrum_task_board' %>
  <%= stylesheet_link_tag 'task_board', :plugin => 'scrum_task_board' %>
  <%= stylesheet_link_tag "jquery-ui-1.8.18.custom.css", :plugin => 'time_logging' %>
<% end %>
<% cond = @project.project_condition(Setting.display_subprojects_issues?)

    @open_issues_by_tracker = Issue.visible.count(:group => :tracker,
                                            :include => [:project, :status, :tracker],
                                            :conditions => ["(#{cond}) AND #{IssueStatus.table_name}.is_closed=?", false]) %>
<h2 id="taskboard-header"><%= html_title "#{@project.name} - Task board" -%></h2>

<div id="version_container">
<% selected = params["state"] ? params["state"].to_i : 2 %>
<% form_for :state_filter, :url => {:controller => "task_boards", :action => "index"} do |f| %>
Filter by: <%= select_tag "state", options_for_select((Version::STATES.collect {|k,v| [v, k]} << ["All", 4]), selected),:onchange => "$('filter_button').show();" %><%= submit_tag 'Filter', :id => "filter_button", :style => "display: none;" %>
<% end %>

<% unless @project.versions.empty? %>
<ul class="version_holder">
  <% @versions.each do |v| %>
  <li>
    <span><strong><%= v.name %></strong></span>
    <% if v.completed? %><% elsif v.effective_date %>
      <span><strong><%= "<br/>" + due_date_distance_in_words(v.effective_date) if !v.effective_date.nil? %></strong></span>
    <% end %><br/>
    <span>Date: <strong><%= v.effective_date.nil? ? 'none' : format_date(v.effective_date) %></strong></span>
    <br/>
    <span>Issues: <strong><%= v.fixed_issues.count %></strong></span>
    <br/><br/>

    <%= link_to "Features: <span style='color: #0EA94B'>#{v.feature_counter}</span><br/>Tasks: <span style='color:#5081AA'>#{v.task_counter}</span>",
                    :controller => "task_boards",
                    :action => "show",
                    :version_id => v.id,
                    :board => 1,
                    :id => @project.id,
                    :show_bugs => true%>
    <br/>

    <%= link_to "Bugs: <span style='color: red'>#{v.bug_counter}</span>",
                    :controller => "task_boards",
                    :action => "show",
                    :version_id => v.id,
                    :board => 2,
                    :id => @project.id %>
    <br/>
    <span class="total">Total Estimated Effort: <strong><%= v.total_estimated_effort%></strong> <%= l(:field_sp_hours) %></span><br/>
    <span class="total">Total Remaining Effort: <strong><%= v.total_remaining_effort%></strong> <%= l(:field_sp_hours) %></span>
  </li>


  <% end %>
<% else %>

<h3>This project has no versions yet.</h3>

<% end %>
</ul>
</div>
<div id = "distribution_summary">
  <%= render :partial => "distribution_summary", :locals => {:issues => [], :project => @project, :v => @version} %>
</div>
