<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'task_board', :plugin => 'scrum_task_board' %>
<% end %>
<% cond = @project.project_condition(Setting.display_subprojects_issues?)
    
    @open_issues_by_tracker = Issue.visible.count(:group => :tracker,
                                            :include => [:project, :status, :tracker],
                                            :conditions => ["(#{cond}) AND #{IssueStatus.table_name}.is_closed=?", false]) %>
<h2><%= html_title "#{@project.name} - Task board" -%></h2>
<% form_for :state_filter, :url => {:controller => "task_boards", :action => "index"} do |f| %>
Filter by: <%= select_tag "state", options_for_select(Milestone::STATES, "state"),:onchange => "$('filter_button').show();" %><%= submit_tag 'Filter', :id => "filter_button", :style => "display: none;" %>
<% end %>
<div id="version_container">
<% unless @project.versions.empty? %>
<ul class="version_holder">
  <% @versions.each do |v| %>
  <li>
    <span><strong><%= v.name %></strong></span>
    <% if v.completed? %><% elsif v.effective_date %>
      <span><strong><%= "<br/>" + due_date_distance_in_words(v.effective_date) if !v.effective_date.nil? %></strong></span>
    <% end %><br/>
    <span>Date: <strong><%= v.effective_date.nil? ? 'none' : format_date(v.effective_date) %></strong></span>
    <br/>
    <span>Issues: <strong><%= v.fixed_issues.count %></strong></span> 
    <br/><br/>
    
    <%= link_to "Features: <span style='color: #0EA94B'>#{v.feature_count_open} open / #{v.feature_count_closed} closed</span><br/>Tasks: <span style='color:#5081AA'>#{v.task_count_open} open / #{v.task_count_closed} closed</span>",
                    :controller => "task_boards",
                    :action => "show",
                    :version_id => v.id,
                    :board => 1,
                    :id => @project.id %>
    <br/>
    
    <%= link_to "Bugs: <span style='color: red'>#{v.bug_count_open} open / #{v.bug_count_closed} closed</span>",
                    :controller => "task_boards",
                    :action => "show",
                    :version_id => v.id,
                    :board => 2,
                    :id => @project.id %>       
    </br>
    <span class='effortLabel'>Total Estimated Effort:</span> <strong><%= v.count_total_estimated_effort%></strong> <span class='effortLabel'><%= l(:field_sp_hours) %></span></br>
    <span class='effortLabel'>Total Remaining Effort:</span> <strong><%= v.count_total_remaining_effort%></strong> <span class='effortLabel'><%= l(:field_sp_hours) %></span>
  </li>


  <% end %>
<% else %>

<h3>This project has no versions yet.</h3>

<% end %>
</ul>
</div>

