<% html_title "#{@version.nil? ? "Issues with no version" : @version.name} - Task board" -%>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'task_board', :plugin => 'scrum_task_board' %>
  <style type="text/css">
    .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibilicount(:all, :conditions => ["fixed_version_id = ?", self.id], :include => :status)ty: hidden;
    }
    .clearfix {display: inline-block;}  /* for IE/Mac */
  </style><!-- main stylesheet ends, CC with new stylesheet below... -->

    <!--[if IE]>
    <style type="text/css">
      .clearfix {
        zoom: 1;     /* triggers hasLayout */
        display: block;     /* resets display for IE/Win */
      }
     /* Only IE can see inside the conditional comment
    and read this CSS rule. Don't ever use a normal HTML
    comment inside the CC or it will close prematurely. */
    </style><a title="reference" class="show_reference">Show Reference</a>
    <![endif]-->

  <style type="text/css" media="screen">
    #task_board tr th { width: <%= 100 / (@statuses.size + 1) %>%;}
    .show_reference { cursor: pointer;}
  </style>
<% end %>


<h2><%= @version.nil? ? "Product Backlog" : @version.name %> Task Board</h2>
<input type="checkbox" id="toggle_all"/><label>Show Issue Details</label>
<div id="bdchart"></div>
<div id="fixed_table_header"></div>

<% if @featured or @bugged %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
  <%= javascript_include_tag  'sticky_note', :plugin => 'scrum_task_board', :cache => true %>
28416
Show Children
CancelSave  

<table id="task_board" cellspacing="0">
  <thead>
  <tr>
  <% if @featured %>
    <% unless @features.empty? %>
      <th>Feature</th>
      <th>Tasks</th>
    <% else %>
      <th colspan="2">&nbsp;</th>
    <% end %>
  <% else %>
    <th colspan="2">&nbsp;</th>
  <% end %>

  <% @status_columns.each do |cols| %>
    <th> <%= cols %> </th>
  <% end %>
  </tr>
  </thead>

  <tbody>
  <% if @featured %>
    <% @features.each do |feature| %>
      <%= render :partial => "row", :locals => { :feature => feature, :color => 16777215 } %>
      <%  feature.children.each do |child|
        if child.fixed_version_id == @version.id and child.children_here? %>
          <%= render :partial => "row", :locals => { :feature => child, :color => (16777215 - (1118481 * 2)) } %>
          <%  child.children.each do |childnext|
            if childnext.fixed_version_id == @version.id and childnext.children_here? %>
              <%= render :partial => "row", :locals => { :feature => childnext, :color => (16777215 - (1118481 * 4)) } %>
            <% end %>
          <% end %>
        <% end %>
      <%  end %>
    <% end %>
    
    <% unless @tasks.empty? %>
      <tr id="other_issues">
        <td colspan="2"><strong>Other Issues</strong></td>
        <% @status_columns.each do |k| %>
          <% default = @status_grouped[k][:default] %>
          <td id="<%= task_board_dom_id(nil, default) %>" class="<%= cycle('odd', 'even') %>">
          <ul id="<%= task_board_dom_id(nil, default, 'list') %>">
            <% @status_grouped[k][:statuses].each do |status| %>
              <%= render :partial => 'issue', :collection => Array(@tasks.group_by(&:status)[status]) %>
            <% end %>
          </ul>
          <%= task_board_drop_receiving_element(task_board_dom_id(nil, default), default) %>
          </td>
        <% end %>
      </tr>
    <% end %>
    
  <% else %>
    <tr id="task_board_bugs">
      <td colspan="2"><strong>Bugs</strong></td>
      <% @status_columns.each do |k| %>
        <% default = @status_grouped[k][:default] %>
        <td id="<%= task_board_dom_id(nil, default) %>" class="<%= cycle('odd', 'even') %>">
        <ul id="<%= task_board_dom_id(nil, default, 'list') %>">
          <% @status_grouped[k][:statuses].each do |status| %>
            <%= render :partial => 'issue', :collection => Array(@bugs.group_by(&:status)[status]) %>
          <% end %>
        </ul>
        <%= task_board_drop_receiving_element(task_board_dom_id(nil, default), default) %>
        </td>
      <% end %>
    </tr>
    
  <% end %>
  </tbody>
</table>
<%= javascript_include_tag  'fixedtableheader', :plugin => 'scrum_task_board', :cache => true %>
<%= javascript_include_tag 'jquery.jqplot.js', 'plugins/jqplot.canvasTextRenderer.min.js',  'plugins/jqplot.canvasAxisLabelRenderer.min.js', 'plugins/jqplot.cursor.min.js', 'plugins/jqplot.dateAxisRenderer.min.js', 'plugins/jqplot.highlighter.min.js', 'chart.js', :plugin => 'redmine_burndown', :cache => "burndown_chart" %>
<% else %>
  <h3><%= @error_msg %></h3>
<% end %>
