<%# html_title "#{@version.nil? ? "Issues with no version" : @version.name} - Task board" -%>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'colorbox', :plugin => 'scrum_task_board' %>
  <!-- <link type="text/css" media="screen" rel="stylesheet" href="http://dl.getdropbox.com/u/2863383/js/colorbox132/example5/colorbox.css" /> -->
  <%= stylesheet_link_tag 'task_board', :plugin => 'scrum_task_board' %>
  <style type="text/css">
    .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibilicount(:all, :conditions => ["fixed_version_id = ?", self.id], :include => :status)ty: hidden;
    }
    .clearfix {display: inline-block;}  /* for IE/Mac */
  </style><!-- main stylesheet ends, CC with new stylesheet below... -->

    <!--[if IE]>
    <style type="text/css">
      .clearfix {
        zoom: 1;     /* triggers hasLayout */
        display: block;     /* resets display for IE/Win */
      }
     /* Only IE can see inside the conditional comment
    and read this CSS rule. Don't ever use a normal HTML
    comment inside the CC or it will close prematurely. */
    </style><a title="reference" class="show_reference">Show Reference</a>
    <![endif]-->

  <style type="text/css" media="screen">
    #task_board tr th { width: <%= 100 / (@status_columns.size) %>%;}
    .show_reference { cursor: pointer;}
  </style>
<% end %>


<h2>
  <%= @version.nil? ? "Product Backlog" : @version.name %> Task Board 
  <span style="float:right"><%= "Target Date: " + format_date(@version.effective_date) unless @version.effective_date.nil? %></span>
</h2>
  <h4><%= due_date_distance_in_words(@version.effective_date) if !@version.effective_date.nil? %></h4>
<% unless @nodata_to_filter %>
<div style="float:left; width: 70%; padding: 10px;">
<% if @teams.projects.member? @project %>
  <span style="padding-right:20px;">
    Sort by Team: 
    <% form_for :team_filter, :url => {:controller => "task_boards", :action => "show", :version_id => @version.id, 
                   :board => @board, :id => @project.id}, :html => {:id => "form_sort_team"} do |f| %>
    <% blank = (@selected_team.empty? or @selected_team.eql?("All"))? ["---select a team---"] : ["All"] %>
    <%= select_tag "selected_team", options_for_select(blank + @teams.possible_values, @selected_team), 
                        :onchange => "$('form_sort_team').submit()" %>
    <%= check_box_tag 'condensed', @condensed, @condensed, :hidden => true %>
    <% end %>
  </span>
<% end %>
<% unless @error_msg %>

<% unless @condensed %>
  <input type="checkbox" id="toggle_all" checked/><label>Show Issue Details</label>
  <% if @featured and !@bugs.empty? %>
     <input type="checkbox" id="show_bugs" /><label>Show Bugs</label>
  <% end %>
<% end %>

<% form_tag({:action => 'show', :id => @project.id, :version_id =>@version.id, :board => @board},
                         :id => 'condensed_view_form') do %>
  <%= check_box_tag 'condensed', !@condensed, @condensed, :onchange => "$('condensed_view_form').submit();" %>
  <%= label_tag 'Condensed View' %>
<% end %>

</div>
<div style="float:right; min-width: 90px; padding: 10px;">
  
  <%= link_to_if_authorized "<span>
  #{image_tag('/plugin_assets/redmine_burndown/chart.png', :size => '20x20') }
  </span>
  <span style='float: right; padding-top: 3px; padding-right: 5px;'>Show Chart </span>", 
                                            { :controller => 'burndowns', :action => 'chart', 
                                              :project_id => @version.project_id, 
                                              :id => @version.id, 
                                              :issue_filter => {:tracker => @tracker, :team => @team} }, :id => 'showchart' %>

<% end %>
</div>
<div class="clear"></div>
<% end %>
<div id="bdchart"></div>
<div id="fixed_table_header"></div>

<% if @featured or @bugged %>
  <%= javascript_include_tag 'jquery.min.js', :plugin => 'scrum_task_board' %>
  <%= javascript_include_tag 'sticky_note', :plugin => 'scrum_task_board' %>
  <%= javascript_include_tag 'jquery-ui-1.8.16.custom.js', :plugin => 'scrum_task_board' %>
  <%= javascript_include_tag 'slimScroll.js', :plugin => 'scrum_task_board' %>

<table id="task_board" cellspacing="0">
  <thead>
  <tr>
  <% if @featured %>
    <% unless @features.empty? %>
      <th>Feature</th>
    <% else %>
      <th>&nbsp;</th>
    <% end %>
  <% end %>

  <% @status_columns.each do |cols| %>
    <th> <%= cols %></th>
  <% end %>
  </tr>
  </thead>

  <tbody>
  <% if @featured %>
    <% @features.each do |feature| %>
      <% color = cycle('F2F2F2', 'FFFFFF') %>
      <tr style="background:#<%= color %>">
      <%= render :partial => "row", :locals => { :feature => feature, :color => color } %>
      <% children = feature.version_children.reject {|f| f unless f.task_parent? } %>
      <% Array(children).each do |child| %>
        <tr style="background:#<%= color %>">
        <%= render :partial => "row", :locals => { :feature => child, :color => color } %>
      <% end %>
    <% end %>
    
    <% unless @tasks.empty? %>
      <tr id="other_issues" style="background: #cacaca">
        <td><strong>Other Issues</strong></td>
        <% @status_columns.each do |k| %>
          <% default = @status_grouped[k][:default] %>
          <% statuses = @status_grouped[k][:statuses] %>
          <td id="<%= task_board_dom_id(nil, default) %>">
          <ul id="<%= task_board_dom_id(nil, default, 'list') %>" class="taskboard_issues_list <%= @condensed ? 'condensed' : '' %>">
            <% statuses.each do |status| %>
              <%= render :partial => 'issue', :collection => Array(@tasks.group_by(&:status)[status]) %>
              <%= render :partial => 'issue', :collection => Array(@bugs.group_by(&:status)[status]), :locals => {:bug => true} %>
            <% end %>
          </ul>
          <%= task_board_drop_receiving_element(task_board_dom_id(nil, default), default, statuses) %>
          </td>
        <% end %>
      </tr>
    <% end %>
    
  <% else %>
    <% unless @parent_bugs.compact.empty? %>
      <% @parent_bugs.compact.each do |bug| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <% @status_columns.each do |k| %>
          <% default = @status_grouped[k][:default] %>
          <% statuses = @status_grouped[k][:statuses] %>
          <td id="<%= task_board_dom_id(bug, default) %>">
          <ul id="<%= task_board_dom_id(bug, default, 'list') %>" class="taskboard_issues_list <%= @condensed ? 'condensed' : '' %>">
            <% statuses.each do |status| %>
              <%= render :partial => 'issue', :collection => Array(bug.version_descendants(true).group_by(&:status)[status]),
                             :locals => {:descendant => true} %>
            <% end %>
          </ul>
          <%= task_board_drop_receiving_element(task_board_dom_id(bug, default), default, statuses) %>
          </td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
    <tr id="task_board_bugs" class="<%= cycle('odd', 'even') %>">
      <% @status_columns.each do |k| %>
        <% default = @status_grouped[k][:default] %>
        <% statuses = @status_grouped[k][:statuses] %>
        <td id="<%= task_board_dom_id(nil, default) %>">
        <ul id="<%= task_board_dom_id(nil, default, 'list') %>" class="taskboard_issues_list <%= @condensed ? 'condensed' : '' %>">
          <% statuses.each do |status| %>
            <%= render :partial => 'issue', :collection => Array(@bugs.group_by(&:status)[status]) %>
          <% end %>
        </ul>
        <%= task_board_drop_receiving_element(task_board_dom_id(nil, default), default, statuses) %>
        </td>
      <% end %>
    </tr>
    
  <% end %>
  </tbody>
</table>
<%= javascript_include_tag 'fixedtableheader', :plugin => 'scrum_task_board' %>
<%= javascript_include_tag 'jquery.colorbox-min.js', :plugin => 'scrum_task_board' %>
<%= javascript_include_tag 'jquery.jqplot.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.canvasTextRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.canvasAxisLabelRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.cursor.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.dateAxisRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.highlighter.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'chart.js', :plugin => 'redmine_burndown' %>

<script type="text/javascript">
  jQuery("#showchart").colorbox({opacity: 0.5, onComplete:function(){
      plot_chart(jQuery.parseJSON(jQuery("#hidden_chart_data").val()));
  }});
  /*jQuery(function(){
    jQuery('.discussion').hover(function(){
      if(!jQuery(this).hasClass("custom_scroll")){
        jQuery(this).addClass("custom_scroll");
        jQuery(".custom_scroll").slimScroll({
            height: '150px'
        });
      }
    });
  });*/
</script>
<script type='text/javascript'>
  //===========TOOLTIP===========
  var tip;
  jQuery(".tooltip").hover(function(){
    tip = jQuery(this).find('.tip');
    tip.hide().fadeIn('fast'); //Show tooltip
  }, function() {
    tip.hide(); //Hide tooltip
  }).mousemove(function(e) {
    var x = 24; //Get X coodrinates
    var y = 12; //Get Y coordinates
    var tipWidth = tip.width(); //Find width of tooltip
    var tipHeight = tip.height(); //Find height of tooltip
  //  alert(tipWidth + ", " + tipHeight);
    //Distance of element from the right edge of viewport
    var tipVisX = jQuery(window).width() - (e.pageX + tipWidth);
    //Distance of element from the bottom of viewport
    var tipVisY = jQuery(window).height() - (e.pageY + tipHeight);

    if ( tipVisX < 20 ) { //If tooltip exceeds the X coordinate of viewport
        x = x - tipWidth - 30;
    } if ( tipVisY < 20 ) { //If tooltip exceeds the Y coordinate of viewport
        y = y - tipHeight - 20;
    }
    //Absolute position the tooltip according to mouse position
    tip.css({  top: y, left: x, display: "inline" });
  });
</script>

<% else %>
  <p class="nodata"><%= @error_msg %></p>
<% end %>
