<% html_title "#{@version.nil? ? "Product Backlog" : @version.name} - Task board" -%>

<div style="float:right; width: 80px;">
  <span>
  <%= image_tag("/plugin_assets/redmine_burndown/chart.png", :size => "20x20") %>
  </span>
  <span style="float: right; padding-top: 3px;">
  <%= link_to "Show Chart", { :controller => 'burndowns', :action => 'chart', 
                                              :project_id => @version.project_id, 
                                              :id => @version.id }, :id => 'showchart' %>
  </span>
</div>

<% content_for :header_tags do %>

  <link type="text/css" media="screen" rel="stylesheet" href="http://dl.getdropbox.com/u/2863383/js/colorbox132/example5/colorbox.css" /> 

  <%= stylesheet_link_tag 'task_board', :plugin => 'scrum_task_board' %>
  <%# stylesheet_link_tag 'colorbox', :plugin => 'scrum_task_board' %>

  <style type="text/css">
    .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibilicount(:all, :conditions => ["fixed_version_id = ?", self.id], :include => :status)ty: hidden;
      }

  .clearfix {display: inline-block;}  /* for IE/Mac */  
  </style><!-- main stylesheet ends, CC with new stylesheet below... -->

  <!--[if IE]>
  <style type="text/css">
    .clearfix {
      zoom: 1;     /* triggers hasLayout */
      display: block;     /* resets display for IE/Win */
      }  /* Only IE can see inside the conditional comment
      and read this CSS rule. Don't ever use a normal HTML
      comment inside the CC or it will close prematurely. */
  </style><a title="reference" class="show_reference">Show Reference</a>
  <![endif]-->
  
  <style type="text/css" media="screen">
    #task_board tr th { width: <%= 100 / (@statuses.size + 1) %>%;}
    .show_reference { cursor: pointer;}
  </style>
  
<% end %>


<h2><%= @version.nil? ? "Product Backlog" : @version.name %> Task Board</h2>
<h3>Version ID: <%= @version.nil? ? "None" : @version.id %></h3>
<div id="bdchart"> </div>

<div id="fixed_table_header"></div>

<!--- Start REFERENCE (For Development Only) --->

<div id="reference" style="display:none">
<a title="reference" class="show_reference">Show Reference</a>
<table>
<% if @featured %>
  <tr>
    <th colspan="4">Features <span style="font-weight:normal">(Features without children are listed in Other Issues)</span></th>
  </tr>
  <tr>
    <td>Redmine No.</td>
    <td>children.empty?</td>
    <td>Children [all]</td>
    <td>Subtasks</td>
    <td>Children [in this version]</td>
    <td>parent.nil?</td>
    <td>Parent ID</td>
    <td>Parent Version ID</td>
    <td>Subject</td>
  </tr>
  <% @features.each do |f| %>
  <tr>
    <td><%= link_to_issue f %></td>
    <td><%= f.children.empty? %></td>
    <td><%= f.children.count %></td>
    <td><%= f.subtasks.count %></td>
    <% count = 0 
       f.children.each {|c| count += 1 if c.fixed_version_id == @version.id } %>
    <td <%= "style=\"color: #ff0000\"" if f.children.count != count %> ><%= count %></td>   
    <td><%= f.parent.nil? %></td>
    <% p = Issue.find f.parent.issue_from_id if not f.parent.nil? %>
    <td><%= link_to_issue p if not f.parent.nil? %></td> 
    <td <%= "style=\"color: #ff0000\"" if not f.parent.nil? and @version.id != p.fixed_version.id %> ><%= p.fixed_version.id if not f.parent.nil? %></td>
    <td><%= f.subject %></td>
  </tr>
  <% end %>
  
  
  <tr>
    <th colspan="4">Other Issues</th>
  </tr>
  <tr>
    <td>Redmine No.</td>
    <td>children.empty?</td>
    <td>Children [all]</td>
    <td>Subtasks</td>
    <td>Children [in this version]</td>
    <td>parent.nil?</td>
    <td>Parent ID</td>
    <td>Parent Version ID</td>
    <td>Subject</td>
  </tr>
  <% @tasks.each do |f| %>
  <tr>
    <td><%= link_to_issue f %></td>
    <td><%= f.children.empty? %></td>
    <td><%= f.children.count %></td>
    <td><%= f.subtasks.count %></td>
    <% count = 0 
       f.children.each {|c| count += 1 if c.fixed_version_id == @version.id } %>
    <td <%= "style=\"color: #ff0000\"" if f.children.count != count %> ><%= count %></td>
    <td><%= f.parent.nil? %></td>
    <% p = Issue.find f.parent.issue_from_id if not f.parent.nil? %>
    <td><%= link_to_issue p if not f.parent.nil? %></td>    
    <td <%= "style=\"color: #ff0000\"" if not f.parent.nil? and @version.id != p.fixed_version_id %>><%= p.fixed_version_id if not f.parent.nil? %></td>
    <td><%= f.subject %></td>
  </tr>
  <% end %>


<% else %>  
  <tr>
    <th colspan="4">Bugs</th>
  </tr>
  <tr>
    <td>Redmine No.</td>
    <td>children.empty?</td>
    <td>Children [all]</td>
    <td>Subtasks</td>
    <td>Children [in this version]</td>
    <td>parent.nil?</td>
    <td>Parent ID</td>
    <td>Parent Version ID</td>
    <td>Subject</td>
  </tr>
  
  <% @bugs.each do |f| %>
  <tr>
    <td><%= link_to_issue f %></td>
    <td><%= f.children.empty? %></td>
    <td><%= f.children.count %></td>
    <td><%= f.subtasks.count %></td>
    <% count = 0 
       f.children.each {|c| count += 1 if c.fixed_version_id == @version.id } %>
    <td <%= "style=\"color: #ff0000\"" if f.children.count != count %> ><%= count %></td>
    <td><%= f.parent.nil? %></td>
    <% p = Issue.find f.parent.issue_from_id if not f.parent.nil? %>
    <td><%= link_to_issue p if not f.parent.nil? %></td>    
    <td <%= "style=\"color: #ff0000\"" if not f.parent.nil? and @version.id != p.fixed_version_id %>><%= p.fixed_version_id if not f.parent.nil? %></td>
    <td><%= f.subject %></td>
  </tr>
  <% end %>
<% end %>    
</table>
</div>
<a title="reference" class="show_reference">Show Reference</a>
<hr/>

<!--- End REFERENCE (For Development Only) --->

<% if @featured or @bugged %>

<table id="task_board" cellspacing="0">
  <thead>
  <tr>
  <% if @featured %>
    <% unless @features.empty? %>
    <th>Feature</th>
    <th>Tasks</th>
    <% else %>
    <th colspan="2">&nbsp;</th>
    <% end %>
  <% else %>
    <th colspan="2">&nbsp;</th>
  <% end %>
  <% @statuses.each do |status| %>
    <th><%= status.name %></th>
  <% end -%>
  
  </tr>
  </thead>
  
  <tbody>
  <% if @featured %>
  <% @features.each do |feature| %> 
   <%= render :partial => "row", :locals => { :feature => feature, :color => 16777215 } %>
    <%  feature.children.each do |child|
        if child.fixed_version_id == @version.id and child.children_here? %>
      <%= render :partial => "row", :locals => { :feature => child, :color => (16777215 - (1118481 * 2)) } %>
      
      <%  child.children.each do |childnext|
        if childnext.fixed_version_id == @version.id and childnext.children_here? %>
      <%= render :partial => "row", :locals => { :feature => childnext, :color => (16777215 - (1118481 * 4)) } %>
      <% end %>
      <% end %>
      
    <% end %>
  <%  end %>
  <% end %>

  <% unless @tasks.empty? %>
  <tr id="other_issues">
    <td colspan="2">
        <strong>Other Issues</strong>
    </td>
    <% @statuses.each do |status| %>
      <td id="<%= task_board_dom_id(nil, status) %>" class="<%= cycle('odd', 'even') %>">
            <ul id="<%= task_board_dom_id(nil, status, 'list') %>9">
              <%= render :partial => 'issue', :collection => Array(@tasks.group_by(&:status)[status]) %>
            </ul>
            <%= task_board_drop_receiving_element(task_board_dom_id(nil, status), status) %>
          </td>
    
     <% end %>     
  </tr>
  <% end %>
  <% else %>
  
  <tr id="task_board_bugs">
    <td colspan="2">
        <strong>Bugs</strong>
    </td>
    <% @statuses.each do |status| %>
      <td id="<%= task_board_dom_id(nil, status) %>" class="<%= cycle('odd', 'even') %>">
            <ul id="<%= task_board_dom_id(nil, status, 'list') %>9">
              <%= render :partial => 'issue', :collection => Array(@bugs.group_by(&:status)[status]) %>
            </ul>
            <%= task_board_drop_receiving_element(task_board_dom_id(nil, status), status) %>
          </td>
    
     <% end %>     
  </tr>
  
  <% end %>
  </tbody>
</table>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 

<%= javascript_include_tag  'jquery.colorbox-min.js', :plugin => 'scrum_task_board' %>
<%= javascript_include_tag  'fixedtableheader', :plugin => 'scrum_task_board' %>
<%= javascript_include_tag 'jquery.jqplot.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.canvasTextRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.canvasAxisLabelRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.cursor.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.dateAxisRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.highlighter.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'chart.js', :plugin => 'redmine_burndown' %>

<script type="text/javascript">
jQuery.noConflict();  

var $link = jQuery(".show_reference");
$link.click(function(){
  var group = jQuery(this).attr("title");
  var $group = jQuery("#" + group);
  
  if($group.is(":visible"))
  {
    $group.slideUp();
    $link.text("Show Reference");
  }
   
  else
  {
    $group.slideDown();
    $link.text("Hide Reference");
  }
})
</script>


<% else %>
  <h3><%= @error_msg %></h3>
<% end %>
