<%# html_title "#{@version.nil? ? "Issues with no version" : @version.name} - Task board" -%>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'colorbox', :plugin => 'scrum_task_board' %>
  <%= stylesheet_link_tag 'task_board', :plugin => 'scrum_task_board' %>
  <style type="text/css">
    .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibilicount(:all, :conditions => ["fixed_version_id = ?", self.id], :include => :status)ty: hidden;
    }
    .clearfix {display: inline-block;}  /* for IE/Mac */
  </style><!-- main stylesheet ends, CC with new stylesheet below... -->

    <!--[if IE]>
    <style type="text/css">
      .clearfix {
        zoom: 1;     /* triggers hasLayout */
        display: block;     /* resets display for IE/Win */
      }
     /* Only IE can see inside the conditional comment
    and read this CSS rule. Don't ever use a normal HTML
    comment inside the CC or it will close prematurely. */
    </style><a title="reference" class="show_reference">Show Reference</a>
    <![endif]-->

  <style type="text/css" media="screen">
    #task_board tr th { width: <%= 100 / (@status_columns.size) %>%;}
    .show_reference { cursor: pointer;}
  </style>
<% end %>


<h2>
  <%= @version.nil? ? "Product Backlog" : @version.name %> Task Board 
  <span style="float:right"><%= "Target Date: " + format_date(@version.effective_date) unless @version.effective_date.nil? %></span>
</h2>

<div style="float:left; width: 70%; padding: 10px;">
<% if @teams.projects.member? @project %>
  <span style="padding-right:20px;">
    Sort by Team: 
    <% form_for :team_filter, :url => {:controller => "task_boards", :action => "show", :version_id => @version.id, 
                   :board => @board, :id => @project.id}, :html => {:id => "form_sort_team"} do |f| %>
    <% blank = (@selected_team.empty? or @selected_team.eql?("All"))? ["---select a team---"] : ["All"] %>
    <%= select_tag "selected_team", options_for_select(blank + @teams.possible_values, @selected_team), 
                        :onchange => "$('form_sort_team').submit()" %>
    <% end %>
  </span>
<% end %>
<input type="checkbox" id="toggle_all" checked/><label>Show Issue Details</label>
</div>
<div style="float:right; width: 80px; padding: 10px;">
  <span>
  <%= image_tag("/plugin_assets/redmine_burndown/chart.png", :size => "20x20") %>
  </span>
  <span style="float: right; padding-top: 3px;">
  <%= link_to "Show Chart", { :controller => 'burndowns', :action => 'chart', 
                                              :project_id => @version.project_id, 
                                              :id => @version.id }, :id => 'showchart' %>
  </span>
</div>

<div id="bdchart"></div>
<div id="fixed_table_header"></div>

<% if @featured or @bugged %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
  <%= javascript_include_tag  'sticky_note', :plugin => 'scrum_task_board' %>

<table id="task_board" cellspacing="0">
  <thead>
  <tr>
  <% if @featured %>
    <% unless @features.empty? %>
      <th>Feature</th>
    <% else %>
      <th>&nbsp;</th>
    <% end %>
  <% end %>

  <% @status_columns.each do |cols| %>
    <th> <%= cols %></th>
  <% end %>
  </tr>
  </thead>

  <tbody>
  <% if @featured %>
    <% @features.each do |feature| %>
      <% color = cycle('F2F2F2', 'FFFFFF') %>
      <tr style="background:#<%= color %>">
      <%= render :partial => "row", :locals => { :feature => feature, :color => color } %>
      <% children = feature.version_children.reject {|f| f unless f.task_parent? } %>
      <% Array(children).each do |child| %>
        <tr style="background:#<%= color %>">
        <%= render :partial => "row", :locals => { :feature => child, :color => color } %>
      <% end %>
    <% end %>
    
    <% unless @tasks.empty? %>
      <tr id="other_issues" style="background: #cacaca">
        <td><strong>Other Issues</strong></td>
        <% @status_columns.each do |k| %>
          <% default = @status_grouped[k][:default] %>
          <% statuses = @status_grouped[k][:statuses] %>
          <td id="<%= task_board_dom_id(nil, default) %>">
          <ul id="<%= task_board_dom_id(nil, default, 'list') %>">
            <% statuses.each do |status| %>
              <%= render :partial => 'issue', :collection => Array(@tasks.group_by(&:status)[status]) %>
            <% end %>
          </ul>
          <%= task_board_drop_receiving_element(task_board_dom_id(nil, default), default, statuses) %>
          </td>
        <% end %>
      </tr>
    <% end %>
    
  <% else %>
    <% unless @parent_bugs.compact.empty? %>
      <% @parent_bugs.compact.each do |bug| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <% @status_columns.each do |k| %>
          <% default = @status_grouped[k][:default] %>
          <% statuses = @status_grouped[k][:statuses] %>
          <td id="<%= task_board_dom_id(bug, default) %>">
          <ul id="<%= task_board_dom_id(bug, default, 'list') %>">
            <% statuses.each do |status| %>
              <%= render :partial => 'issue', :collection => Array(bug.version_descendants(true).group_by(&:status)[status]),
                             :locals => {:descendant => true} %>
            <% end %>
          </ul>
          <%= task_board_drop_receiving_element(task_board_dom_id(bug, default), default, statuses) %>
          </td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
    <tr id="task_board_bugs" class="<%= cycle('odd', 'even') %>">
      <% @status_columns.each do |k| %>
        <% default = @status_grouped[k][:default] %>
        <% statuses = @status_grouped[k][:statuses] %>
        <td id="<%= task_board_dom_id(nil, default) %>">
        <ul id="<%= task_board_dom_id(nil, default, 'list') %>">
          <% statuses.each do |status| %>
            <%= render :partial => 'issue', :collection => Array(@bugs.group_by(&:status)[status]) %>
          <% end %>
        </ul>
        <%= task_board_drop_receiving_element(task_board_dom_id(nil, default), default, statuses) %>
        </td>
      <% end %>
    </tr>
    
  <% end %>
  </tbody>
</table>
<%= javascript_include_tag  'fixedtableheader', 'jquery.colorbox-min.js', :plugin => 'scrum_task_board', :cache => true %>
<%= javascript_include_tag 'jquery.jqplot.js', 'plugins/jqplot.canvasTextRenderer.min.js',  'plugins/jqplot.canvasAxisLabelRenderer.min.js', 'plugins/jqplot.cursor.min.js', 'plugins/jqplot.dateAxisRenderer.min.js', 'plugins/jqplot.highlighter.min.js', 'chart.js', :plugin => 'redmine_burndown', :cache => "burndown_chart" %>

<div id="chart_panel">
<%= render :partial => "show_chart", :locals => {:version => @version} %>
</div>
<% else %>
  <h3><%= @error_msg %></h3>
<% end %>
