<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'colorbox', :plugin => 'scrum_task_board' %>
  <%= stylesheet_link_tag 'task_board', :plugin => 'scrum_task_board' %>
  <style type="text/css">
    .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibilicount(:all, :conditions => ["fixed_version_id = ?", self.id], :include => :status)ty: hidden;
    }
    .clearfix {display: inline-block;}  /* for IE/Mac */
  </style><!-- main stylesheet ends, CC with new stylesheet below... -->

    <!--[if IE]>
    <style type="text/css">
      .clearfix {
        zoom: 1;     /* triggers hasLayout */
        display: block;     /* resets display for IE/Win */
      }
     /* Only IE can see inside the conditional comment
    and read this CSS rule. Don't ever use a normal HTML
    comment inside the CC or it will close prematurely. */
    </style><a title="reference" class="show_reference">Show Reference</a>
    <![endif]-->

  <style type="text/css" media="screen">
    #task_board tr th { width: <%= 100 / (@status_columns.size) %>%;}
    .show_reference { cursor: pointer;}
  </style>
<% end %>

<!--- START-------------------------------------------------------------------------------------------------------------->
<div id = "distribution_summary" style="display:none;">
</div>
<input type="text" id = "version_id" value="<%=params[:version_id]%>" style="display:none;"/>
<input type="text" id = "project_id" value="<%=params[:id]%>" style="display:none;"/>
<h2 id="taskboard-header">
  <%= @version.nil? ? "Product Backlog" : @version.name %>
</h2>

<div class="row">

  <div class="first block">
    <strong>Target Date:</strong><%= format_date(@version.effective_date) unless @version.effective_date.nil? %><br/>
    <% if @version.completed? %>
    <% elsif @version.effective_date %>
    <em><%= due_date_distance_in_words(@version.effective_date) if !@version.effective_date.nil? %></em>
    <% end %>
  </div>

  <div class="block">
    <span class="label">Features:</span>
    <%= link_to "<span style='color: #0EA94B'>#{@version.feature_counter}</span>",
        :controller => "task_boards",:action => "show", :version_id => @version.id, :board => 1,:id => @project.id %>
    <br/>
    <span class="label">Tasks:</span>
    <%= link_to "<span style='color:#5081AA'>#{@version.task_counter}</span>",
        :controller => "task_boards",:action => "show", :version_id => @version.id, :board => 1,:id => @project.id %>
     <br/>
    <span class="label">Bugs:</span>
    <%= link_to "<span style='color: red'>#{@version.bug_counter}</span>",
        :controller => "task_boards",:action => "show",:version_id => @version.id,:board => 2, :id => @project.id %>
  </div>


  <div class="block">
    <span class="label">Total Estimated Effort:</span>
    <strong><%= @version.total_estimated_effort%></strong> <%= l(:field_sp_hours) %><br/>
    <span class="label">Total Remaining Effort:</span>
    <strong><%= @version.total_remaining_effort %></strong> <%= l(:field_sp_hours) %>
  </div>

  <div class="filter-box-view">
  <% unless @nodata_to_filter %>
    <% form_for :team_filter, :url => {:controller => "task_boards", :action => "show", :version_id => @version.id,
                   :board => @board, :id => @project.id}, :html => {:id => "form_sort_team"} do |f| %>
    <% if @teams.projects.member? @project %>
    <%= submit_tag 'Filter', :id => "filter_button", :style => "display: none;" %>
    <% team_blank = (["", "All", "Select a team..."].member? @selected_team)? ["Select a team..."] : ["All"] %>
    <%= select_tag "selected_team", options_for_select(team_blank + @teams.possible_values, @selected_team),
                        :onchange => "$('filter_button').show();" %>
    <br/>
    <% end %>
    <% resource_blank = (["", "All", "Select a resource..."].member? @selected_resource)? ["Select a resource..."] : ["All"] %>

    <%= select_tag "selected_resource",
                        "<option id='selected_resource_blank' value='#{resource_blank}'>
                          #{resource_blank}
                        </option>" + options_from_collection_for_select(@members.sort_by(&:name), "user_id", "name", @selected_resource.to_i),
                        :onchange => "filterByResource();" %>

    <% end %>
    <br/>
    <% unless @error_msg %>
    <button type="button" class="buttons activated" id="detailed">Detailed View</button>
    <button type="button" class="buttons" id="condensed">Condensed View</button>
    <% if @featured %>
      <% unless @show_bugs %>
      <%= link_to_if_authorized "Show Bugs",
                                            { :controller => 'task_boards', :action => 'show',
                                              :id => @project.id,
                                              :version_id =>@version.id,
                                              :board => @board,
                                              :selected_team => @selected_team,
                                              :show_bugs => true },
                                              :id => 'showbugs', :class => "buttons" %>
      <% else %>
      <button type="button" class="buttons" id="hidebugs">Hide Bugs</button>
      <% end %>
    <% end %>
    <%= link_to_if_authorized "Show Chart",
                                            { :controller => 'burndowns', :action => 'chart',
                                              :project_id => @version.project_id,
                                              :id => @version.id,
                                              :issue_filter => {:tracker => @tracker, :team => @team} },
                                              :id => 'showchart', :class => "buttons disabled" %>
   <% end %>
    <% if @featured or @bugged %>
      <button type="button" id="dialog-launcher" class="buttons">Distribution Summary</button>
    <% end %>
  </div>
</div>

<!--------------------------------------------------------------------------------------------------------------END --->


<div class="clear"></div>
<% end %>
<div id="bdchart"></div>
<div id="fixed_table_header"></div>

<% if @featured or @bugged %>
  <%= javascript_include_tag "jquery-1.7.1.min.js", :plugin => 'time_logging' %>
  <%= javascript_include_tag "jquery-ui-1.8.18.custom.min.js", :plugin => 'time_logging' %>
  <%= javascript_include_tag 'distribution_summary', :plugin => 'scrum_task_board' %>
  <%= javascript_include_tag 'sticky_note', :plugin => 'scrum_task_board' %>
  <%= javascript_include_tag 'slimScroll.js', :plugin => 'scrum_task_board' %>
  <%= stylesheet_link_tag "jquery-ui-1.8.18.custom.css", :plugin => 'time_logging' %>
  <script type="text/javascript">
  var showbugs = (jQuery("#hidebugs").html() == "Show Bugs"); <%# (@bugs and @featured) or false %>
  jtoggleAll = jQuery("#detailed");
  jcondensed = jQuery("#condensed");

  jQuery(function(){
    var display = (jQuery("#condensed").hasClass("activated")) ? "inline-block" : "list-item";
    jQuery(".isBug").css("display", display);
  });

  jQuery(".buttons").not("#showchart, #hidebugs").click(function(){
    if(!jQuery(this).hasClass("disabled"))
     jQuery(this).toggleClass("activated");
  });

  jQuery("#showbugs").click(function(){
      jQuery(this).text("Loading...").addClass("disabled").css("color", "#4e4e4e");
  });

  jQuery("#hidebugs").click(function(){
    if(jQuery(this).html() === "Hide Bugs") {
      jQuery(".isBug").css("display", "none");
      jQuery(this).html("Show Bugs");
    }
    else {
      var display = (jQuery("#condensed").hasClass("activated")) ? "inline-block" : "list-item";
      jQuery(".isBug").css("display", display);
      filterBugs();
      jQuery(this).html("Hide Bugs");
    }
  });

  jtoggleAll.click(function(){
    jtoggleDetails = jQuery('.toggle_details');
    if(jQuery(this).hasClass("activated"))
    {
      jQuery(".current_data").show();
      if (jtoggleDetails.hasClass("minimized"))
        jtoggleDetails.removeClass("minimized").addClass("maximized");
    }
    else {
      jQuery(".current_data").hide();
      if (jtoggleDetails.hasClass("maximized"))
        jtoggleDetails.removeClass("maximized").addClass("minimized");
    }
  });

  //setting css() seems to be faster than hide() and show()
  function condensedView(){
    jQuery(".task_board_data:visible").css("display", "inline-block");
    jQuery(".bulk_details").css('display', 'none');
    jQuery(".taskboard_issues_list").addClass("condensed");
    jQuery(".to_parent").css('display', 'none');
    if(showbugs)
      jQuery(".isBug").addClass("condensed").css("display", "inline-block");
  }

  function normalView(){
    jQuery(".task_board_data:visible").css("display", "list-item");
    jQuery(".bulk_details").css('display', 'block');
    jQuery(".taskboard_issues_list").removeClass("condensed");
    jQuery(".to_parent").css("display", "inline");
    if(showbugs)
      jQuery(".isBug").removeClass("condensed").css("display", "list-item");
  }

  function toggleCondensed() {
    if(jcondensed.hasClass("activated")) {
      condensedView();
      jQuery("#detailed").attr("disabled", true).addClass("disabled");
    }
    else {
    normalView();
    jQuery("#detailed").attr("disabled", false).removeClass("disabled");
    if (jQuery(".current_data").is(":visible"))
      jtoggleAll.addClass("activated");
    }
  }

  jcondensed.click(toggleCondensed);
  </script>
<table id="task_board" cellspacing="0">
  <thead>
  <tr>
  <% if @featured %>
    <% unless @features.empty? %>
      <th>Feature</th>
    <% else %>
      <th>&nbsp;</th>
    <% end %>
  <% end %>

  <% @status_columns.each do |cols| %>
    <th> <%= cols %></th>
  <% end %>
  </tr>
  </thead>
  <tbody>
  <% if @featured %>
    <% @features.each do |feature| %>
      <% color = cycle('F2F2F2', 'FFFFFF') %>
      <tr style="background:#<%= color %>">
      <%= render :partial => "row", :locals => { :feature => feature, :color => color } %>
      <% children = feature.version_children.select(&:task_parent?) %>
      <% children.each do |child| %>
        <tr style="background:#<%= color %>">
        <%= render :partial => "row", :locals => { :feature => child, :color => color } %>
      <% end %>
    <% end %>

    <% unless @tasks.empty? %>
      <tr id="other_issues" style="background: #cacaca">
        <td><strong>Other Issues</strong></td>
        <% @status_columns.each do |k| %>
          <% default = @status_grouped[k][:default] %>
          <% statuses = @status_grouped[k][:statuses] %>
          <td id="<%= task_board_dom_id(nil, default) %>">
          <ul id="<%= task_board_dom_id(nil, default, 'list') %>" class="taskboard_issues_list ">
            <% statuses.each do |status| %>
              <%= render :partial => 'issue', :collection => Array(@tasks.group_by(&:status)[status]) %>
              <% if @show_bugs %>
                <%= render :partial => 'issue', :collection => Array(@bugs.group_by(&:status)[status]), :locals => {:bug => true} %>
              <% end %>
            <% end %>
          </ul>
          <%= task_board_drop_receiving_element(task_board_dom_id(nil, default), default, statuses) %>
          </td>
        <% end %>
      </tr>
    <% end %>

  <% else %>
    <% unless @parent_bugs.compact.empty? %>
      <% @parent_bugs.compact.each do |bug| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <% @status_columns.each do |k| %>
          <% default = @status_grouped[k][:default] %>
          <% statuses = @status_grouped[k][:statuses] %>
          <td id="<%= task_board_dom_id(bug, default) %>">
          <ul id="<%= task_board_dom_id(bug, default, 'list') %>" class="taskboard_issues_list ">
            <% statuses.each do |status| %>
              <%= render :partial => 'issue', :collection => Array(bug.version_descendants(true).group_by(&:status)[status]),
                             :locals => {:descendant => true} %>
            <% end %>
          </ul>
          <%= task_board_drop_receiving_element(task_board_dom_id(bug, default), default, statuses) %>
          </td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
    <tr id="task_board_bugs" class="<%= cycle('odd', 'even') %>">
      <% @status_columns.each do |k| %>
        <% default = @status_grouped[k][:default] %>
        <% statuses = @status_grouped[k][:statuses] %>
        <td id="<%= task_board_dom_id(nil, default) %>">
        <ul id="<%= task_board_dom_id(nil, default, 'list') %>" class="taskboard_issues_list ">
          <% statuses.each do |status| %>
            <%= render :partial => 'issue', :collection => Array(@bugs.group_by(&:status)[status]) %>
          <% end %>
        </ul>
        <%= task_board_drop_receiving_element(task_board_dom_id(nil, default), default, statuses) %>
        </td>
      <% end %>
    </tr>

  <% end %>
  </tbody>
</table>
<div id="back_to_top">Back to top</div>
<%= javascript_include_tag 'fixedtableheader', :plugin => 'scrum_task_board' %>
<%= javascript_include_tag 'jquery.colorbox-min.js', :plugin => 'scrum_task_board' %>
<%= javascript_include_tag 'jquery.jqplot.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.canvasTextRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.canvasAxisLabelRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.cursor.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.dateAxisRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.highlighter.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'chart.js', :plugin => 'redmine_burndown' %>

<script type="text/javascript">
  function filterByResource(){
    var res_id = jQuery("#selected_resource option:selected").val();
    var display = (jQuery("#condensed").hasClass("activated")) ? "inline-block" : "list-item";
    var opts = { display: display, listStyle: "none" };
    if(jQuery.inArray(res_id, ["", "All", "Select a resource..."]) != -1) {
      jQuery('#selected_resource_blank').val('Select a resource...');
      jQuery('#selected_resource_blank').text('Select a resource...');
      jQuery('.task_board_data').css(opts);
    }
    else {
      jQuery('#selected_resource_blank').val('All');
      jQuery('#selected_resource_blank').text('All');
      jQuery('.task_board_data').hide();
      jQuery('.assigned_to_' + res_id).css(opts);
    }
    if(jQuery("#hidebugs").text() == "Show Bugs"){
      jQuery(".isBug").css("display", "none");
    }else{
      var display = (jQuery("#condensed").hasClass("activated")) ? "inline-block" : "list-item";
      jQuery(".isBug").css("display", display);
    }
    filterBugs();
  }

  function filterBugs(){
    var res_id = jQuery("#selected_resource option:selected").val();
    if(jQuery.inArray(res_id, ["", "All", "Select a resource..."]) == -1){
      jQuery('.isBug').each(function(){
        if(!jQuery(this).hasClass('assigned_to_' + res_id) && !jQuery(this).is(':hidden')){
          jQuery(this).css('display', 'none');
        }
      });
    }
  }
  
</script>

<% else %>
  <p class="nodata"><%= @error_msg %></p>
<% end %>
